.cta {
  @include button($purple);
  width: 230px;
  margin-left: auto;
  margin-right: auto;
  color: $white;
}

.about-cta {
  animation: wiggle 5s 5s linear infinite;
}

.closemodal {
  text-decoration: underline;
  cursor: pointer;
}
