body {
  font-family: 'Average', serif;
  color: $black;
}

.wrapper {
  position: relative;
  overflow: hidden;
}

body, html {
  min-height: 100%;
}

a, a:hover, a:active, a:focus {
  text-decoration: none;
  color: inherit;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-family: $header;
}

section {
  margin: 0;
}

section:not(#about) {
  margin-left: auto;
  margin-right: auto;
}

section {
  font-size: 1.5em;
}
