section#about {
  margin-top: 40px;
  padding-top: 60px;
  position: relative;
  background-image: url('img/crumpled.jpg');
  background-position: center center;
  background-size: cover;
}

.about-content {
  font-size: 1.5em;
  text-align: center;
  max-width: 800px;
  margin: auto;
  z-index: -2;
  padding: 40px 0;
  h2 {
    font-family: $header;
    font-size: 2em;
    text-align: left;
    display: inline-block;
    position: relative;
    z-index: 1;
    margin: 5px;
    &:before {
      position: absolute;
      left: 0;
      right: 0;
      content: "";
      background: $orange;
      width: 100%;
      height: 100%;
      z-index: -1;
      transform: skewX(-25deg);
      word-spacing: 1.5em;
    }
  }
}
