#contact {
  background-image: url('img/crumpled.jpg');
  background-position: center;
  background-size: cover;
  margin: 0;
  position: relative;
  height: 65vh;
}

.contact-content {
  padding: 70px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  max-width: 50%;
  text-align: left;
  p {
    margin-bottom: 25px;
  }
  h2 {
    margin-top: 0;
  }
  .cta {
    width: 120px;
    margin: 0;
    text-align: center;
  }
  @media screen and (max-width: 600px) {
    padding: 20px;
    padding-top: 40px;
    text-align: center;
    .cta {
      margin-left: auto;
      margin-right: auto;
    }
  }
}
