header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 97vw;
  z-index: 100;
  padding: 20px;
  height: 40px;
  background: $white;
  transition: height 200ms ease-in, border 100ms ease-in, background 100ms ease-in;
  a img {
    opacity: 1;
    transition: opacity 150ms ease-in-out;
    &:hover {
      opacity: 0.7;
    }
  }
}

header.shrinked {
  height: 15px;
  border-bottom: 2px solid $purple;
}

.logo.shrinked {
  font-size: 1.7em;
}

h1.logo {
  flex: 1;
  font-family: $header;
  letter-spacing: 3px;
  font-size: 2.3em;
  position: relative;
  max-width: 175px;
  transition: font-size 200ms ease-in, color 200ms ease-in;
  &:hover {
    color: $purple
  }
}
