// mobile nav
.menu-icon {
  height: 35px;
  width: 35px;
  cursor: pointer;
  @media screen and (min-width: 786px) {
    display: none;
  }
}

#mobilemenu {
  width: 80vw;
  height: 100vh;
  position: fixed;
  left: 200vw;
  top: 0;
  background: $light-orange;
  z-index: 100;
  transition: left 350ms ease-out;
  .menu-icon {
    position: absolute;
    right: 35px;
    top: 25px;
    height: 30px;
    width: 30px;
  }
  ul {
    position: absolute;
    letter-spacing: 2px;
    font-size: 1.5em;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 2em;
    li {
      padding: 5px;
      border-bottom: 2px solid rgba(0, 0, 0, 0);
      transition: opacity 100ms ease-in;
      &:hover {
        opacity: 0.8;
      }
    }
  }
  .social-mobile {
    position: absolute;
    bottom: 35px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    img {
      height: 40px;
    }
  }
  &:before {
    position: absolute;
    left: -100%;
    top: 0;
    content: "";
    height: 100vh;
    width: 80vw;
  }
}
