nav.nav {
  display: flex;
  align-items: center;
  font-size: 1.3em;
  ul {
    li {
      display: inline-block;
      margin-left: 2em;
      padding: 5px;
    }
  }
  a {
    transition: color 100ms ease-in;
    &:hover {
      color: $purple;
    }
  }
  @media screen and (max-width: 785px) {
    display: none;
  }
}

.social {
  margin-left: 1.5em;
  img {
    height: 40px;
  }
}
